@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #fff;
  font-family: 'Montserrat';
}

.main {
  position: relative;
  height: 100dvh;
  overflow-x: hidden;

  text-align: center;

  background-image: url('/town.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: inline-block;
  margin-top: 60px;
}


.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;

  background: rgba(255, 255, 255, .4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1300px) {
  .title {
    margin-top: 35px;

    font-size: 20px;
  }

  .timer {
    height: 83%;
  }
}